{% extends 'base.html' %}
{% load static %}
{% block content %}


  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Available Properties</h1>
            </div>
          </div>

        <div id="property-carousel" class="swiper">
          <div class="swiper-wrapper">

            {% for myproperties in propertyz %}
                
            <div class="carousel-item-b swiper-slide">
                <div class="card-box-a card-shadow">
                  <div class="img-box-a">
                    <img src="{% static 'img/property-6.jpg' %}" alt="" class="img-a img-fluid">
                  </div>
                  <div class="card-overlay">
                    <div class="card-overlay-a-content">
                      <div class="card-header-a">
                        <h2 class="card-title-a">
                          <a href="property-single.html">
                              {{ myproperties.title }}
                        </h2>
                      </div>
                      <div class="card-body-a">
                        <div class="price-box d-flex">
                          <span class="price-a">{{ myproperties.type }} | $ 12.000</span>
                        </div>
                        <a href="#" class="link-a">Click here to view
                          <span class="bi bi-chevron-right"></span>
                        </a>
                      </div>
                      <div class="card-footer-a">
                        <ul class="card-info d-flex justify-content-around">
                          <li>
                            <h4 class="card-info-title">Area</h4>
                            <span>{{ myproperties.area }}m
                              <sup>2</sup>
                            </span>
                          </li>
                          <li>
                            <h4 class="card-info-title">Bedrooms</h4>
                            <span>{{ myproperties.bedrooms }}</span>
                          </li>
                    
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- End carousel item -->
            {% endfor %}

      </div>
    </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Grid ======= -->
    <section class="property-grid grid">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="grid-option">
              <form>
                <select class="custom-select">
                  <option selected>All</option>
                  <option value="1">For Rent</option>
                  <option value="2">For Sale</option>
                  {% comment%}<option value="1" href={% url 'rent' %}>For Rent</option>
                  <option value="2" href = {% url 'sale' %}>For Sale</option>{% endcomment %}
                </select>
              </form>
            </div>
          </div>

  </main><!-- End #main -->

{% endblock %}